section.entrega-list {
  margin: 40px;

  button {
    background-color: #1BBA93;
    color: white;
    border-radius: 12px;
    margin-bottom: 1vh;
  }

  button:hover {

    cursor: pointer;
    transition: 0.9s;
  }

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      display: grid;
      grid-template-areas:
        'a a a a a a'
        'b q q q p p'
        'b i i i i i';
      border: solid 7px #8257e6;
      border-radius: 12px;
      margin-bottom: 2vw;



      a {
        text-align: center;
        color: #1BBA93;
      }

      b {
        text-align: center;
        color: #1BBA93;
      }

      q {
        text-align: center;
        color: #1BBA93;
      }

      p {
        text-align: center;
        color: #1BBA93;
      }

      i {
        text-align: center;
        color: #1BBA93;
      }

      .i {
        text-align: center;
        width: 33vw;
      }

      .i2 {
        text-align: center;
        width: 33vw;
      }
    }
  }
}